<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fi.benson" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="fi.benson.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fi.benson.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".customs.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <service android:name="com.parse.PushService" />

        <receiver
            android:name=".customs.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="fi.benson" />
            </intent-filter>
        </receiver>

        <!-- IMPORTANT: Change "YOUR_SENDER_ID" to your GCM Sender Id. -->
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:639540519858" />
        ;

        <!-- Customize push, add icon -->
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/notification_logo" />

        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.CameraActivity" />
        <activity
            android:name=".camera.RuntimePermissionActivity"
            android:theme="@style/squarecamera__CameraFullScreenTheme.NoUI" />
        <activity
            android:name=".views.UploadActivity"
            android:label="@string/title_activity_upload"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".views.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.ResultActivity" />
        <activity
            android:name=".views.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.ChatListActivity" >
        </activity>
        <activity
            android:name=".views.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.AppCompat" >
        </activity>
    </application>

</manifest>